#msgbox span{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
    clear: both;
    float: left;
    margin-bottom: 5px;
    display: box;
    max-width: 420px;
    word-wrap:break-word;
}
#msgbox {
    margin:10px;
    width: 500px;
    height: 300px;
    padding: 10px;
    border-color: darkgray;
    border-style: solid;
    margin-bottom: 0;
    overflow-y: scroll;
}
#input {
    width:524.8px;
    margin:10px;
    margin-top: 0;
    padding:10px;
    display: box;
}
span.self{
    background-color: #a1ff71;
    border-color: goldenrod;
    float: right !important; 
}
span.other{
    background-color: lavender;
    border-color: gray;
}